* {
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
  text-align: center;
}
.start1 {
  width: 50%;
  background: lightskyblue;
  display: block;
  padding: 5px;
}
.start2 {
  width: 50%;
  background: indianred;
  display: block;
  padding: 5px;
}
.display {
  margin: 5px;
  padding: 2px;
}
.player1-list {
  padding: 10px;
}
.player2-list {
  padding: 10px;
}
.single-button {
  margin: 2px;
  padding: 2px;
}
